@charset "UTF-8";

/* Stylesheet for Nuropa 2026
 * General styles and variables setup
 * by Sascha Leib
 * File name: __parts/general.css
 */

/* Colour theme settings */
html[data-colorTheme="auto"] body { /* auto mode */

	@media (prefers-color-scheme: light) {
		background-color: var(--ini_background);
		color: var(--ini_text);
	}
	@media (prefers-color-scheme: dark) {
		background-color: var(--ini_background_dark);
		color: var(--ini_text_dark);
	}
	@media (prefers-color-scheme: high-contrast) {
		background-color: var(--ini_background_hc);
		color: var(--ini_text_hc);
	}
}
html[data-colorTheme="light"] body { /* light mode */
	background-color: var(--ini_background);
	color: var(--ini_text);
}
html[data-colorTheme="dark"] { /* dark mode */
	background-color: var(--ini_background_dark);
	color: var(--ini_text_dark);
}
html[data-colorTheme="contrast"] #nu__toolbar { /* high contrast mode */
	background-color: var(--ini_background_hc);
	color: var(--ini_text_hc);
}

/* general variables */
:root {
	
	/* sizes */
	--nu-content-width-desktop: 81.5rem;
	--nu-sidebar-width-desktop: 17rem;
}

/* Root styles */
:root {
	font-family: var(--nu-text-fonts);
	line-height: 1.15;
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
}

/* global focus outline: */
a:focus, input:focus, button:focus {
	outline: 1pt solid var(--nu-focus-color);
	outline-offset: 1px;
}

/* accessibility fixes */
.sr-only {
	position: absolute;
	clip: rect(0,0,0,0);
	clip-path: rect(0px 0px 0px 0px);
	overflow: hidden;
	height: 1px;
	width: 1px;
	border: 0 none;
	margin: -1px;
}
.print-only {
	display: none;
}
.hide-on-screen {
	display: none;
}

/* global link styles */
a:link,
a:visited {
	color: var(--nu-link-color);
	text-decoration: underline;
}
a:hover {
	color: var(--nu-link-color);
}
a:focus {
	outline: 1pt solid var(--nu-focus-color);
	text-decoration: none;
}

/* abbr title hint only when hover is actually available: */
@media (hover: hover) {
	abbr[title] {
		text-decoration: underline;
		text-decoration-style: dashed;
		text-decoration-color: color-mix(in lab, currentColor 50%, var(--nu-background-color) 50%);
	}
}

/* reset form elements */
input, button, select, textarea {
	appearance: none;
	border: 0 none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.25em;
	color: inherit;
}
button, input[type=radio], input[type=checkbox] {
	cursor: pointer;
}
