@charset "UTF-8";

/* Stylesheet for Nuropa 2026
 * Layout styles
 * by Sascha Leib for GROW E.4
 * File name: __parts/layout.css
 */

/* Accessibility skip link widget */
#nu__skiplink {
	& {
		position: fixed;
		left: .5em;
		top: .5em;
		width: auto;
		z-index: 9999;
	}
	a {
		position: absolute;
		background-color: color-mix(in lab, var(--nu-link-color) 10%, #FFF 90%);
		font-size: 1.25em;
		color: var(--nu-link-color);
		height: 1px;
		overflow: hidden;
		border: transparent solid 2pt;
		border-radius: .25em;
		clip: rect(1px,1px,1px,1px);
		clip-path: rect(0px 0px 0px 0px);
	}
	a:focus {
		position: static;
		display: inline-block;
		padding: 8px;
		border-color: var(--nu-link-color);
		height: auto;
		overflow: visible;
		clip: none;
		clip-path: none;
	}
}

/* global toolbar */
body > .global-toolbar {
	width: 100%;
	margin: 0;
	padding: 1px 1rem;
}

/* layout items */
body > header, body > footer, body > .main-layout {
	& {
		width: 100vw;
	}
	& > * {
		width: calc(var(--nu-content-width-desktop) - 4rem);
		max-width: 100vw;
		margin: 0 auto;
		overflow: hidden;
		padding: 0 2rem;
		box-sizing: border-box;
	}
}
body > header > .header-layout {
	padding: 2rem 2rem 1.5rem 2rem;
	border: pink dashed 1px;
}

body > .main-layout {
	& {
		border: red dashed 1px;
	}

	.main-sidebar-layout {
		& {
			display: grid;
			grid-template-columns: var(--nu-sidebar-width-desktop) auto;
			column-gap: 1rem;
		}
		& > .sidebar {
			& {
			}
			header {
				& {
					text-align: right;
					float: right;
				}
				button {
					& {
						width: 1.5rem; height: 1.5rem;
						overflow: hidden;
						margin: 2px;
						cursor: pointer;
						border-radius: .25rem;
					}
					svg {
						& {
							width: 1.5rem; height: 1.5rem;
							fill: var(--nu-link-color);
						}
						&.menu { display: none; }
					}
				}
			}
		}
		&[data-state="alt"] header {
			& {
				text-align: left;
				float: none;
			}
			button svg {
				&.chevron { transform: rotate(180deg); }
			}
		}
	}
	
	#toTopButton {
		& {
			position: sticky;
			bottom: 1rem;
			width: var(--nu-content-width-desktop);
			padding: 0 1rem 0 0;
			min-height: 2rem;
		}
		& > a {
			& {
				display: block;
				background-color: color-mix(in lab, var(--nu-link-color) 25%, transparent 75%);
				color: var(--nu-link-color);
				width: 2rem;
				height: 2rem;
				overflow: hidden;
				padding: .35rem;
				margin: 2pt 2pt 2pt auto;
				border-radius: 50%;
				transition: background-color .5s;
			}
			&:hover {
				background-color: color-mix(in lab, var(--nu-link-color) 50%, transparent 50%);
			}
			svg {
				width: 100%;
				height: 100%;
				fill: var(--nu-link-color);
			}
		}
	}
}

body > footer > .footer-layout {
	padding: 2rem;
	border: green dashed 1px;
}

@media (max-width: 81rem) { /* note: adjust to --nu-content-width-desktop variable! */
	body > header, body > footer, body > .main-layout {
		& > * {
			width: calc(var(--nu-content-width-desktop) - 3rem);
			padding: 0 .5rem;
		}
	}
	body > header > .header-layout {
		padding: 2rem .5rem 1.5rem .5rem;
	}

	body > .main-layout {
		.main-sidebar-layout {
			column-gap: .5rem;
		}
	}
	body > footer > .footer-layout {
		padding: 2rem .5rem;
		border: green dashed 1px;
	}

}

@media (max-width: 1050px) {
	body > .main-layout {
		.main-sidebar-layout {
			& {
				grid-template-columns: 2rem auto;
				column-gap: .25rem;
			}
		}
	}
}