@charset "UTF-8";

/* Stylesheet for Nuropa 2026
 * Site-wide toolbar styles
 * by Sascha Leib for GROW E.4
 * File name: __parts/toolbar.css
 */

body > .global-toolbar {
	& {
		background-color: var(--nu-toolbar-background);
		color: var(--nu-toolbar-text);
		font-family: var(--nu-toolbar-fonts);
		font-size: var(--nu-toolbar-fontsize);
		line-height: 1.5;
		border-bottom: var(--nu-toolbar-border) solid 1px;
	}
}
