@charset "UTF-8";

/* Stylesheet for Nuropa 2026
 * Site-wide toolbar styles
 * by Sascha Leib
 * File name: __parts/toolbar.css
 */

/* colour theming */
html[data-colorTheme="auto"] #nu__toolbar { /* auto mode */

	@media (prefers-color-scheme: light) {
		--nu_toolbar_background: var(--ini_toolbar_background_light);
		--nu_toolbar_text: var(--ini_toolbar_text_light);
		--nu_toolbar_icon: var(--ini_toolbar_icon_light);
		--nu_toolbar_focus: var(--ini_toolbar_focus_light);
		--nu_toolbar_border_top: color-mix(in lab, var(--nu_toolbar_background) 50%, var(--nu_background_color) 50%);
		--nu_toolbar_border_bottom: color-mix(in lab, var(--nu_toolbar_background) 90%, #FFF 10%);
		--nu_toolbar_alt: color-mix(in lab, var(--nu_toolbar_background) 90%, #000 10%);
		--nu_toolbar_shadow: 0.5pt 0.5pt 1pt 0 rgba(0,0,0,20%);
	}
	@media (prefers-color-scheme: dark) {
		--nu_toolbar_background: var(--ini_toolbar_background_dark);
		--nu_toolbar_text: var(--ini_toolbar_text_dark);
		--nu_toolbar_icon: var(--ini_toolbar_icon_dark);
		--nu_toolbar_focus: var(--ini_toolbar_focus_dark);
		--nu_toolbar_border_top: color-mix(in lab, var(--nu_toolbar_background) 50%, var(--nu_background_color) 50%);
		--nu_toolbar_border_bottom: color-mix(in lab, var(--nu_toolbar_background) 90%, #FFF 10%);
		--nu_toolbar_alt: var(--ini_background_alt_dark);
		--nu_toolbar_shadow: 1pt 1pt 2pt 0 rgba(0,0,0,33%);
	}
	@media (prefers-contrast: more) {
		--nu_toolbar_background: var(--ini_toolbar_background_hc);
		--nu_toolbar_text: var(--ini_toolbar_text_hc);
		--nu_toolbar_icon: var(--ini_toolbar_icon_hc);
		--nu_toolbar_focus: var(--ini_toolbar_focus_hc);
		--nu_toolbar_border_top: var(--ini_toolbar_border_top_hc);
		--nu_toolbar_border_bottom: var(--ini_toolbar_icon_hc);
		--nu_toolbar_alt: color-mix(in lab, var(--ini_toolbar_background_hc) 80%, #FFF 20%);
		--nu_toolbar_shadow: none;
	}
}
html[data-colorTheme="auto"] #nu__toolbar.inverted { /* auto mode inverted */

	@media (prefers-color-scheme: light) {
		--nu_toolbar_background: var(--ini_toolbar_background_dark);
		--nu_toolbar_text: var(--ini_toolbar_text_dark);
		--nu_toolbar_icon: var(--ini_toolbar_icon_dark);
		--nu_toolbar_focus: var(--ini_toolbar_focus_dark);
		--nu_toolbar_border_top: color-mix(in lab, var(--nu_toolbar_background) 50%, var(--nu_background_color) 50%);
		--nu_toolbar_border_bottom: color-mix(in lab, var(--nu_toolbar_background) 90%, #FFF 10%);
		--nu_toolbar_alt: var(--ini_background_alt_dark);
		--nu_toolbar_shadow: 1pt 1pt 2pt 0 rgba(0,0,0,33%);
	}

	@media (prefers-color-scheme: dark) {
		--nu_toolbar_background: var(--ini_toolbar_background_light);
		--nu_toolbar_text: var(--ini_toolbar_text_light);
		--nu_toolbar_icon: var(--ini_toolbar_icon_light);
		--nu_toolbar_focus: var(--ini_toolbar_focus_light);
		--nu_toolbar_border_top: color-mix(in lab, var(--nu_toolbar_background) 50%, var(--nu_background_color) 50%);
		--nu_toolbar_border_bottom: color-mix(in lab, var(--nu_toolbar_background) 90%, #FFF 10%);
		--nu_toolbar_alt: color-mix(in lab, var(--nu_toolbar_background) 90%, #000 10%);
		--nu_toolbar_shadow: 0.5pt 0.5pt 1pt 0 rgba(0,0,0,20%);
	}
}
html[data-colorTheme="light"] #nu__toolbar:not(.inverted),
html[data-colorTheme="dark"] #nu__toolbar.inverted { /* light mode */
	--nu_toolbar_background: var(--ini_toolbar_background_light);
	--nu_toolbar_text: var(--ini_toolbar_text_light);
	--nu_toolbar_icon: var(--ini_toolbar_icon_light);
	--nu_toolbar_focus: var(--ini_toolbar_focus_light);
	--nu_toolbar_border_top: color-mix(in lab, var(--nu_toolbar_background) 50%, var(--nu_background_color) 50%);
	--nu_toolbar_border_bottom: color-mix(in lab, var(--nu_toolbar_background) 90%, #FFF 10%);
	--nu_toolbar_alt: color-mix(in lab, var(--nu_toolbar_background) 90%, #000 10%);
	--nu_toolbar_shadow: 0.5pt 0.5pt 1pt 0 rgba(0,0,0,20%);
}
html[data-colorTheme="dark"] #nu__toolbar:not(.inverted),
html[data-colorTheme="light"] #nu__toolbar.inverted { /* dark mode */
	--nu_toolbar_background: var(--ini_toolbar_background_dark);
	--nu_toolbar_text: var(--ini_toolbar_text_dark);
	--nu_toolbar_icon: var(--ini_toolbar_icon_dark);
	--nu_toolbar_focus: var(--ini_toolbar_focus_dark);
	--nu_toolbar_border_top: color-mix(in lab, var(--nu_toolbar_background) 50%, var(--nu_background_color) 50%);
	--nu_toolbar_border_bottom: color-mix(in lab, var(--nu_toolbar_background) 90%, #FFF 10%);
	--nu_toolbar_alt: color-mix(in lab, var(--ini_toolbar_background_dark) 90%, #FFF 10%);
	--nu_toolbar_shadow: 1pt 1pt 2pt 0 rgba(0,0,0,33%);
}
html[data-colorTheme="contrast"] #nu__toolbar { /* high contrast mode */
	--nu_toolbar_background: var(--ini_toolbar_background_hc);
	--nu_toolbar_text: var(--ini_toolbar_text_hc);
	--nu_toolbar_icon: var(--ini_toolbar_icon_hc);
	--nu_toolbar_focus: var(--ini_toolbar_focus_hc);
	--nu_toolbar_border_top: var(--ini_toolbar_border_top_hc);
	--nu_toolbar_border_bottom: var(--ini_toolbar_icon_hc);
	--nu_toolbar_alt: color-mix(in lab, var(--ini_toolbar_background_hc) 80%, #FFF 20%);
	--nu_toolbar_shadow: none;
}

/* toolbar element */
#nu__toolbar {
	& {
		/* other variables */
		--nu_toolbar_fonts: system-ui, '-apple-system', 'Segoe UI', 'Helvetica Neue', Roboto, sans-serif;
		--nu_toolbar_fontsize: 10pt;
		--nu_toolbar_labels_breakpoint: 1400px; /* hide the labels except on very large screens */
		--nu_toolbar_wide_breakpoint: 40rem;

		background-color: var(--nu_toolbar_background);
		color: var(--nu_toolbar_text);
		font-family: var(--nu_toolbar_fonts);
		font-size: var(--nu_toolbar_fontsize);
		line-height: 1.25em;
		border-bottom: var(--nu_toolbar_border) solid 1px;
		margin: 0; padding: 0;
		width: 100%;
		border-top: solid 1px var(--nu_toolbar_border_top);
		border-bottom: solid 1px var(--nu_toolbar_border_bottom);

		/* layout */
		contain: layout paint style;
		contain-intrinsic-width: 100vh;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 1.5ch;

		box-shadow: var(--nu_toolbar_shadow);
	}
	svg {
		fill: var(--nu_toolbar_icon);
		width: 1.25em; height: 1.25em;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	p {
		white-space: pre;
		padding: .6em; margin: 0;
	}
	a, button {
		&:focus {
			outline: 1pt solid var(--nu_toolbar_focus);
			box-shadow: 0 0 1pt 1pt var(--nu_toolbar_focus);
		}
	}

	.inline-icon {
		display: inline-flex;
		align-items: center;
		gap: 0.5ch;
		white-space: pre;
	}

	.tbGroup {
		& {
			display: flex;
			gap: .25em;
			overflow: hidden
		}
		&.left {
			width: max-content;
			overflow: visible;
		}
		& > span {
			white-space: nowrap;
			width: max-content;
		}

	}

	.narrow-only {
		display: none;
	}

	/* popover menus */

	[popovertarget] {
		.align-right {
			left: anchor(right);
			top: anchor(bottom);
		}
		.align-left {
			left: anchor(left);
			top: anchor(bottom);
		}
		&::after {
			content: '\25be'; /* ▼ */
			color: var(--nu_toolbar_text);
			font-size: calc(0.5em + 4px);
			vertical-align: baseline;
			position: relative; 
			top: calc(0.42em - 1.66px); 
			margin: 0 0 0 0.125em;
		}
	}

	[popover] {
		& {
			z-index: 100;
			display: none;
			position: absolute;
			position-area: bottom;
			top: .5rem;
			background-color: var(--nu_toolbar_background);
			border: solid 1px var(--nu_toolbar_border);
			width: max-content;
			max-width: 100vw;
			transition:
				opacity 300ms,
				display 300ms allow-discrete,
				overlay 500ms allow-discrete;
			color: var(--nu_toolbar_text);
			border-radius: 1.1em;
			box-shadow: var(--nu_toolbar_shadow);
		}
		&:popover-open {
			display: block;
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}
	}

	a:link, a:visited, button {
		color: var(--nu_toolbar_text);
		text-decoration: none;
		padding: .4em .6em;
		border-radius: .4em;
		margin: .25em;
		white-space: pre;
	}
	a:hover, button:hover {
		background: var(--nu_toolbar_alt);
	}

}

@media (max-width: 40em) {
	#nu__toolbar {

		.wide-only {
			display: none;
		}
		.narrow-only {
			display: initial;
		}
	}
}

@media (max-width: 1200px) {
	#nu__toolbar .tbGroup .inline-icon span.uw-only {
		display: none;
	}
}